.fg .titleImage {
    width: 500%;
    height: 500%;
    image-rendering: pixelated;
}

.fg .guideContainer {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    justify-items: center;
}

.fg .fish {
    margin-bottom: 40px;
}
