.help h2 {
    margin-top: 100px;
}

.controlsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    grid-row-gap: 50px;
    align-items: center;
    max-width: 400px;
}

.controlsContainer img {
    vertical-align: middle;
}

.howToFish {
    max-width: 400px;
}

.alert {
    padding: 20px;
    background-color: #dcf2dd;
    color: black;
}
