.root {
    display: grid;
    margin-top: 100px;
    grid-template-rows: 80px auto auto;
    row-gap: 40px;
    justify-items: center;
}

.logo {
    background-image: url(../images/city41Logo.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    background-position-x: center;
}
