.habitats {
    display: grid;
    grid-template-columns: repeat(3, 148px);
    grid-template-rows: auto auto;
    align-items: center;
}

.foundIn {
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
}

.habitats img {
    grid-row: 2;
    width: 128px;
    height: auto;
    margin-right: 20px;
}

.habitats img:last-child {
    margin-right: 0;
}
